<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Night City Subnet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Cyber.css">
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm">
            <div class="navbar-brand">
                <button class="cybr-btn" onclick="location.href='@Url.Action("Index", "Home")'">
                    Night City<span aria-hidden="false"></span>
                </button>
                <button class="cybr-btn" onclick="location.href='@Url.Action("Privacy", "Home")'">
                    Privacy<span aria-hidden="false"></span>
                </button>
                <button class="cybr-btn" onclick="location.href='@Url.Action("ScreamSheets", "Home")'">
                    ScreamSheets<span aria-hidden="false"></span>
                </button>
                <button class="cybr-btn" onclick="location.href='@Url.Action("Map", "Home")'">
                    Map<span aria-hidden="false"></span>
                </button>
                <button class="cybr-btn" onclick="location.href='@Url.Action("Sponsors", "Home")'">
                    Sponsors<span aria-hidden="false"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer">
        <div class="container">
            <marquee behavior="scroll" direction="left" style="color:red">  ||NEWS||  The current time is:  @DateTime.Now.AddDays(17525).AddHours(8) ... 7 dead in gang shootout in Watson near the Kabuki boarder. Authorities believe it was a random encounter between the Tyger Claws and the MOX... Rolling blackouts contiune in Pacifica interrupting Netwatch and NCPD attempts to track down the Voodoo Boys... Arasaka has issued an update to the Secure Your Soul program to help prevent the loss of memories after initial download into the Relic device...  Sick of drinking the same drink over and over from your local vending corner? Look for new nicola Sakura... Is cyberpsychosis curable? Listen in as we talk to the experts who say "Maybe"...   ||NEWS||  </marquee><a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>